<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="duration" value="300" />
    <add key="max_workers" value="4" />
    <add key="keys" value="0,1024,10240,102400,1048576,5242880" />
  </appSettings>
  <connectionStrings>
    <add
      name="MyContext"
      connectionString="Server=tcp:soukp1emea-csb-dell.database.windows.net,1433;Initial Catalog=DellTransactionalStorage;Persist Security Info=False;User ID=microsoft;Password=Support2!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Pooling=False;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>